
table{
	background: #C0C0C0;
	border-collapse: collapse;
	width:100%;
}

th{
	font-size: 18px;
	text-align: left;
	padding-left: 10px;
}

td{
	padding-left: 10px;
}

#address_cell{
	font-weight: bold;
}

#section{
	font-weight: bold;
}

#section td{
	border-bottom: 1px solid black;
}

#flat_view_table{
	min-width: 100%;
	width:100%;
}

td#comment{
	color: green;
}

tr[block_start] {
	border-top: 3px solid black;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: dotted;
}

