/*
.nodes{
	border: 1px solid;
	font-size: 12px;
	border-radius: 5px;
	position: absolute;
}

#grapth{
	display: inline-flex;
	position: relative;
}

#canvas{
	position: relative;
}
*/

#canvas{
	position: relative;
}

#grapth {
    min-height: 500px;
    min-width: 500px;
  /*  border-style: solid;*/
	display: inline-flex;
	position: relative;
}

.node {
    border-style: solid;
    display: inline-block;
    /*		top:150px;
    		left:100px;*/
    min-width: 300px;
    max-width: 300px;
    /*			min-height: 100px;
    			max-height: 100px;*/
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: scroll;
}