

#menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: #333;
	max-width: 100%;
}

#menu li {
	float: left;
}

#menu li button {
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
